html,
body {
  height: 100%;
}

body {
  background: linear-gradient(#0068B2, #FFE8EA);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user-name {
  font-family: "Shabnam", sans-serif;
  font-weight: bold;
}

.user-cart {
  display: flex;
}
