@font-face {
  font-family: Shabnam;
  src: url("Shabnam.woff2") format("woff2"), url("Shabnam.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: url("Shabnam-Bold.woff2") format("woff2"),
    url("Shabnam-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: url("Shabnam-Thin.woff2") format("woff2"),
    url("Shabnam-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: url("Shabnam-Light.woff2") format("woff2"),
    url("Shabnam-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: url("Shabnam-Medium.woff2") format("woff2"),
    url("Shabnam-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
